// .mdc-snackbar.mat-mdc-snack-bar-container {
//   --mdc-snackbar-container-color: #2196f3 !important;
// }

::ng-deep .custom-snackbar-correct {
  --mdc-snackbar-container-color: #14A44D; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
}

::ng-deep .custom-snackbar-wrong {
  --mdc-snackbar-container-color: #DC4C64; /* Set your desired background color */
  color: #ffffff; /* Set your desired text color */
}