<app-question [question]="currentQuestion" (choiceMade)="onQuestionAnswer($event)"></app-question>

<div *ngIf="displayLevelCode">
  <h1>Level URL code</h1>
  <div *ngFor="let item of getEntries()">
    <p>Name: {{item[1]}} | URL: <a routerLink="/questions/{{item[0]}}">{{item[0]}}</a></p>
  </div>
</div>