<div class="card" *ngIf="question">
  <img *ngIf="question.image" class="card-img-top" src="{{question.image}}" alt="Missing">
  <div class="card-body">
    <h2 class="card-title text-center" [innerHTML]="question.label"></h2>
    <mat-grid-list cols="2" rowHeight="1.5:1" gutterSize="3px">
      <mat-grid-tile *ngFor="let choice of question.choices; let i=index">
        <button  [ngClass]="'color-' + (i+1)" mat-raised-button color="primary" 
          (click)="onChoiceMadeEvent(choice.value)" 
          [innerHTML]="choice.value"></button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>  
</div>