button {
  width: 100% !important;
  height: 100% !important;
  //margin: 2px !important;
  font-size: small;
}

.mat-mdc-raised-button.color-1 {
  background-color: green;
  padding: 0;
}

.mat-mdc-raised-button.color-2 {
  background-color: darkred; 
  overflow: hidden !important; 
}

.mat-mdc-raised-button.color-3 {
  background-color: darkblue;
  overflow: hidden !important;  
}

.mat-mdc-raised-button.color-4 {
  background-color: blueviolet;  
  overflow: hidden !important;
}